.checkbox {
    display: flex;
    display: flex;
    align-items: center;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    transition: all 0.2s linear;
    // justify-content: ;
    &__input {
        transition: all 0.2s linear;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    &__input {
        width: 1em;
        height: 1em;
        margin-top: 0.3125em;
        vertical-align: top;
        background-color: #FFF;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid rgba(0, 0, 0, 0.25);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        print-color-adjust: exact;
    }

    &__input[type=checkbox] {
        border-radius: 0.25em;
        margin: 0;
    }

    &__input:active {
        filter: brightness(90%);
    }

    &__input:focus {
        /* border-color: $accentColor; */
        /* outline: 0; */
        box-shadow: $accentBoxShadowColor;
    }

    &__input:checked {
        background-color: $accentColor;
        border-color: $accentColor;
    }

    &__input:checked[type=checkbox] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    }

    &__input:checked[type=radio] {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23FFF'/%3e%3c/svg%3e");
    }

    &__input[type=checkbox]:indeterminate {
        background-color: $accentColor;
        border-color: $accentColor;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23FFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
    }

    &__label {
        transition: all 0.2s linear;
        font-size: 0.875rem;
        font-weight: 500;
        color: $textColor;
        margin-left: 0.5rem;
    }
}