.typography {
    font-size: 16px;
    display: inline;
    color: $textColor;
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

    .typography-text-wrap-no-wrap {
        white-space: nowrap;
    }

    &-text-align-right {
        text-align: right;
    }

    &-color-gray {
        color: gray;
    }

    &-color-blue {
        color: #2805FF;
    }

    &-color-white {
        color: white;
    }

    &-color-primary {
        color: #133674;
    }

    &-size-1 {
        font-size: 10px;
    }

    &-size-2 {
        font-size: 12px;
    }

    &-size-3 {
        font-size: 14px;
    }

    &-size-4 {
        font-size: 16px;
    }

    &-size-5 {
        font-size: 18px;
    }

    &-size-6 {
        font-size: 20px;
    }

    &-size-7 {
        font-size: 24px;
    }

    &-size-8 {
        font-size: 28px;
    }

    &-size-9 {
        font-size: 32px;
    }

    &-weight-bold {
        font-weight: 700;
    }

    &-weight-medium {
        font-weight: 500;
    }
}