@font-face {
    font-family: "PT Sans";
    src: url("../../public/fonts/PTSans-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../../public/fonts/PTSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../../public/fonts/PTSans-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "PT Sans";
    src: url("../../public/fonts/PTSans-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "Inter";
    src: url("../../public/fonts/Inter-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Inter";
    src: url("../../public/fonts/Inter-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Inter";
    src: url("../../public/fonts/Inter-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url("../../public/fonts/Inter-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
}