.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    background-color: #ffffff;
    margin-left: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-height: 80px;
    padding: 20px;
    border-bottom: 1px solid #E7EAF0;
    &__title {
        color: #16192C;
        font-weight: 500;
        font-size: 18px;
    }
    &__user {
        display: flex;
        align-items: center;
        @include reset-link;
    }
    &__username {
        margin-left: 10px;
        font-weight: 500;
    }
    &__userlogo {
        width: 40px;
        height: 40px;
        border-radius: 100px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__arrowdown {
        margin-left: 10px;
        width: 10px;
        height: 10px;
    }
}