@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin flex-list {
    @include reset-list;
    display: flex;
}

@mixin reset-link {
    color: inherit;
    text-decoration: none;
}

@mixin reset-input {
    border: none;
    outline: none;
}