$fontFamily: 'PT Sans',
sans-serif;
$mainColor:#F0F0F0;
$darkBlue:#001B48;
$lightBlue:#000F92;

$textLightColor:#6B7B93;
$textColor:#16192c;

$accentColor:#5c60f5;
$accentColorDark:#4a4dc4;
$accentBoxShadowColor:0px 1px 2px rgba(50, 50, 71, 0.08), 0 0 0 3px rgba(92, 96, 245, 0.25);


$textLightColor:#6B7B93;
$textColor:#6B7B93;

$accentColor:#5c60f5;
$accentColorDark:#4a4dc4;
$accentBoxShadowColor:0px 1px 2px rgba(50, 50, 71, 0.08), 0 0 0 3px rgba(92, 96, 245, 0.25);